    .ma_flex {
        display: flex;
    }
    
    .background-image {
        background-image: url('../images/Sachin_Bansal.jpg');
        height: 872px;
        width: 100%;
        color: white !important;
    }
    
    .ma_color {
        color: white !important;
    }
    
    .ma_icon {
        margin-left: 42px !important;
    }
    
    .ma_learn {
        margin-left: 78px;
        font-size: 17px;
    }
    
    .ma_learnz {
        margin-left: 78px;
        font-size: 17px;
    }
    
    .ma_form {
        background-color: white;
        width: 420px !important;
        margin-left: 61px;
        margin-top: 40px;
        border-radius: 17px;
        height: 478px;
    }
    
    .ma_facebook {
        margin-left: 95px;
    }
    
    .ma_name {
        margin-left: 31px;
        margin-top: 28px;
        height: 46px;
        border-radius: 6px;
        width: 334px;
        background-color: rgba(177, 177, 180, 0.17);
        border: none;
    }
    
    .ma_request {
        color: #967E76;
        margin-top: 22px;
        text-align: center;
    }
    
    .ma_touch {
        background-color: #F01F4B;
        color: white;
        margin-left: 120px;
        margin-top: 17px;
        height: 59px;
        width: 158px;
        border-radius: 29px;
        border: none;
    }
    
    .ma_finance {
        color: #FECD70;
        font-size: 44px;
        margin-left: 76px;
    }
    
    .ma_padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .ma_color2 {
        color: white;
        margin-top: 23px;
        margin-left: 21px;
    }
    
    .back_ground {
        background-color: black;
    }
    
    .ma_box1 {
        background-color: #D3CEDF;
        margin-left: 81px;
        margin-top: 40px !important;
        border-radius: 27px;
    }
    
    .ma_box2 {
        background-color: #D3CEDF;
        margin-left: 31px;
        margin-top: 40px !important;
        border-radius: 27px;
    }
    
    .ma_box3 {
        background-color: #D3CEDF;
        margin-left: 74px;
        margin-top: 40px !important;
        border-radius: 27px;
    }
    
    .ma_box4 {
        background-color: #D3CEDF;
        margin-left: 31px;
        margin-top: 38px !important;
        border-radius: 27px;
    }
    
    .ma_touch2 {
        background-color: #F01F4B;
        color: white;
        margin-left: 558px;
        margin-top: 64px !important;
        height: 59px;
        width: 158px;
        border-radius: 29px;
        border: none;
    }
    
    .ma_touch5 {
        background-color: #F01F4B;
        color: white;
        margin-left: 567px;
        margin-top: 64px;
        height: 59px;
        width: 158px;
        border-radius: 29px;
        border: none;
        margin-bottom: 69px;
    }
    
    .ma_girl {
        width: 100%;
        height: 440px;
    }
    
    .ma_animal {
        height: 100px;
        width: 100px;
        background-color: #ddd;
    }
    
    .ma_icon_list {
        margin-left: 249px;
        margin-top: 4px;
    }
    
    .ma_circle {
        font-size: 64px !important;
        color: #F01F4B !important;
        position: absolute !important;
        margin-top: 189px !important;
        margin-left: 123px !important;
    }
    
    .ma_button_type {
        font-size: 23px !important;
        width: 62% !important;
        margin-left: 235px !important;
        height: 60px !important;
        border-radius: 7px !important;
        color: black !important;
    }
    
    .ma_more-learn {
        color: #F01F4B;
        margin-left: 5px;
        font-size: 14px;
    }
    
    .ma_type_button {
        width: 62% !important;
        margin-left: 235px !important;
        height: 110px !important;
        border-radius: 7px !important;
        color: black !important;
    }
    
    .ma_frequently {
        margin-top: 105px;
        text-align: center;
        margin-bottom: 78px;
    }
    
    .ma_asked {
        text-align: center;
        margin-top: 56px;
    }
    
    .ma_us {
        margin-left: 10px;
    }
    
    .ma_do {
        border: none;
        font-size: 16px;
        margin-top: 97px;
        margin-left: 73px;
    }
    
    .ma_more {
        color: #F01F4B;
    }
    
    .ma_background-2 {
        background-color: #F01F4B;
        height: 312px;
        width: 100%;
    }
    
    .ma_say {
        margin-top: 86px;
    }
    
    .ma_people {
        height: 300px;
        width: 461px;
        margin-left: 20px;
        border-radius: 32px;
    }
    
    .ma_busy2 {
        background-color: #635666;
        width: 268px;
        height: 305px;
        margin-left: 219px;
        margin-top: 40px;
        border-radius: 27px;
    }
    
    .ma_busy {
        background-color: #635666;
        width: 268px;
        height: 305px;
        margin-left: 61px;
        margin-top: 40px;
        border-radius: 27px;
    }
    
    .ma_busy3 {
        background-color: #635666;
        width: 268px;
        height: 305px;
        margin-left: 399px;
        margin-top: 40px;
        border-radius: 27px;
    }
    
    .ma_animal6 {
        height: 68px;
        width: 71px !important;
        background-color: #ddd;
        border-radius: 70px;
        margin-left: 12px;
    }
    
    .ma_resp-ect-soul {
        height: 125px;
        margin-left: 26px;
        border-radius: 14px;
    }
    
    .ma_touch6 {
        background-color: #F01F4B;
        color: white;
        margin-left: 471px;
        margin-top: 100px;
        height: 59px;
        width: 158px;
        border-radius: 29px;
        border: none;
    }
    
    .ma_seo {
        margin-top: 38px !important;
    }
    
    .ma_seed {
        margin-top: 33px !important;
    }
    
    .ma_consulting {
        margin-top: 20px;
    }
    
    .ma_respect-soul {
        height: 125px;
        margin-left: 96px;
        width: 180px;
        border-radius: 14px;
    }
    
    .ma_felt {
        font-size: 24px;
        margin-left: 175px;
        padding-top: 65px;
    }
    
    .ma_para {
        margin-left: 184px;
        margin-top: 20px;
        font-size: 13px;
    }
    
    .ma_sep {
        margin-top: 48px !important;
        margin-left: -114px;
    }
    
    .ma_ectsoul {
        width: 100%;
        margin-left: 30px;
        margin-top: 11px;
    }
    
    .ma_ectsul {
        width: 100%;
        margin-left: 30px;
        margin-top: 11px;
    }
    
    .ma_startbox {
        background-color: black;
        width: 106%;
        height: 329px;
        color: white;
    }
    
    .animate {
        position: relative;
        animation-name: animated;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-delay: 1ms;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    /* @keyframes animated {
    0%,
    50% {
        transform: translateY(100%);
        opacity: 0;
    }
    60%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */
    /* Animation */
    
    @keyframes fadeInUp {
        from {
            transform: translate3d(0, 40px, 0)
        }
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1
        }
    }
    
    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0, 40px, 0)
        }
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1
        }
    }
    
    .animated {
        animation-duration: 3s;
        animation-fill-mode: both;
        -webkit-animation-duration: 3s;
        -webkit-animation-fill-mode: both
    }
    
    .animatedFadeInUp {
        opacity: 0
    }
    
    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
    
    .ma_list {
        list-style: none;
        margin-left: 159px;
        margin-top: 85px;
    }
    
    .ma_list_style {
        color: #B7C4CF;
    }
    
    .ma_list2 {
        list-style: none;
        margin-left: 24px;
        margin-top: 85px;
    }
    
    .ma_designed {
        margin-left: 161px;
        margin-top: 10px;
        font-size: 12px;
        color: #B7C4CF;
    }
    
    .ma_hidden {
        margin-left: 89px
    }
    
    .ma_list3 {
        list-style: none;
        margin-left: -115px;
        margin-top: 85px;
    }
    
    .ma_garthered {
        height: 125px;
        margin-left: 96px;
        width: 195px;
        margin-top: 33px;
        border-radius: 14px;
    }
    
    .ma_oul {
        margin-top: 51px;
        margin-left: 28px;
    }
    
    .ma_resp-ect-soul {
        height: 125px;
        margin-left: 96px;
        border-radius: 14px;
        margin-top: 40px;
    }
    
    .ma_respect {
        height: 300px;
        width: 394px;
        margin-left: 84px;
        margin-top: 53px;
        border-radius: 23px;
    }
    
    .ma_blog {
        margin-top: 81px;
        margin-left: 86px;
        border-radius: 8px;
        border: none;
    }
    
    .ma_latest {
        margin-left: 85px;
    }
    
    .ma_busy9 {
        background-color: #635666;
        width: 268px;
        height: 305px;
        margin-left: 575px;
        margin-top: 40px;
        border-radius: 27px;
    }
    
    .ma_about {
        padding-top: 67px;
        margin-left: 123px;
    }
    
    .ma_color-icon {
        color: yellow;
        margin-left: 30px;
        margin-top: 40px;
        padding-top: 40px;
        margin-bottom: 15px;
    }
    
    .ma_is {
        padding: 12px;
    }
    
    .ma_senior {
        margin-left: 2px;
    }
    
    .ma_lucy {
        color: #C9BBCF;
        margin-top: -14px;
    }
    
    .ma_appear {
        margin-top: 1px;
        margin-left: 19px;
        color: white;
        padding: 27px;
        font-size: 18px;
    }
    
    .ma_animal3 {
        height: 68px;
        width: 71px;
        background-color: #ddd;
        border-radius: 50px;
        margin-left: 12px;
    }
    
    .ma_appear {
        padding: 17px;
    }
    
    .ma_stars {
        list-style: none;
        color: orange;
        margin-top: 26px;
    }
    
    .ma_kayla {
        height: 69px;
        width: 69px !important;
        border-radius: 50px;
        margin-left: 17px;
    }
    
    .ma_lawn {
        margin-left: 12px;
    }
    
    .ma_senior {
        color: #B7C4CF;
    }
    
    .back-ground {
        background-color: black;
        color: white;
        height: 460px;
        width: 109%;
    }
    
    .ma_theme {
        width: 91% !important;
    }
    
    .item {
        background-color: #7D6E83;
        height: 395px;
        padding: 10px;
        color: black;
        margin-top: 70px;
        border-radius: 39px;
    }
    
    .ma_coffee {
        position: absolute;
        margin-left: -102px;
        height: 188px;
        width: 200px;
        margin-top: -61px;
        border-radius: 24px;
    }
    
    .ma_project {
        margin-top: 86px !important;
    }
    
    .ma_back-grd-color {
        background-color: #EFEFEF;
        margin-top: 90px;
    }
    
    .ma_color_span {
        color: white !important;
    }
    
    .ma_create {
        text-align: center;
    }
    
    .ma_finance2 {
        color: #F01F4B;
        font-size: 44px;
        margin-left: 32px;
        margin-top: 18px;
    }
    
    .ma_icon-s {
        background-color: white;
        width: 350px !important;
        height: 100px;
        margin-left: 61px;
        margin-top: 10px !important;
        border-radius: 13px;
        border-color: #D3CEDF;
        border-style: solid;
    }
    
    .ma_ic-on-s {
        background-color: white;
        width: 166px !important;
        height: 126px;
        margin-left: 47px;
        margin-top: 10px !important;
        border-radius: 13px;
        border-color: #967E76;
        border-style: solid;
    }
    
    .ma_financial {
        color: black;
        margin-top: 40px;
        margin-left: 15px;
    }
    
    .ma_logo {
        margin-left: 12px;
    }
    
    .ma_list_icon {
        margin-left: 249px;
        margin-top: 76px;
    }
    
    .ma_sector {
        margin-left: 107px;
    }
    
    .ma_real {
        margin-left: 24px;
    }
    
    .ma-technology {
        margin-left: 27px;
    }
    
    .ma_industries {
        text-align: center;
        margin-top: 71px;
    }
    
    .ma_graph {
        height: 357px;
        width: 296px;
        margin-left: 30px;
        margin-top: 99px;
    }
    
    .ma_top {
        margin-left: 74px;
    }
    
    .ma_top2 {
        margin-left: 74px;
    }
    
    .ma_top2 {
        margin-left: 45px;
    }
    
    .ma_touch3 {
        background-color: #F01F4B;
        color: white;
        margin-top: 65px;
        height: 59px;
        width: 158px;
        border-radius: 29px;
        border: none;
    }
    
    .ma_number {
        margin-left: 11px;
    }
    
    .ma_contact {
        margin-top: 68px;
        margin-left: 540px
    }
    
    .ma_back-ground-color {
        background-color: #31087B;
        height: 197px;
        width: 106%;
        margin-top: 107px !important;
    }
    
    .ma_get {
        color: white;
        padding-top: 40px;
        margin-left: 78px;
    }
    
    .ma_arrow {
        font-size: 27px !important;
        margin-top: 14px;
        margin-left: 5px;
    }
    /* .ma_consulting {
        margin-left: 38px;
        margin-top: 34px;
    } */
    
    .ma_phne {
        margin-left: -251px;
    }
    
    .ma_image {
        width: 100%;
        height: 200px;
        margin-left: -12px;
        border-radius: 27px 0px 0px 27px;
    }
    
    .ma_grow {
        text-align: center;
        margin-top: 65px;
    }
    
    .ma_name1 {
        margin-left: 31px;
        margin-top: 20px;
        height: 46px;
        border-radius: 6px;
        width: 334px;
        background-color: rgba(177, 177, 180, 0.17);
        border: none;
    }
    
    .ma_free {
        color: black;
        margin-top: 35px;
        margin-left: 117px;
    }
    
    .ma_advtisment {
        margin-left: 17px;
    }
    
    .ma_paragraph {
        font-size: 40px;
        margin-top: 104px;
        margin-left: 75px;
    }
    
    .ma_paragraph1 {
        font-size: 20px;
        margin-top: 3px;
        margin-left: 75px;
    }
    
    .ma_co-lor {
        color: crimson;
    }
    
    .ma_navbar {
        margin-left: 60px;
    }
    
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: transparent;
    }
    
    .ma_slid_up {
        animation: slidUp 2.4s ease;
    }
    
    @keyframes slideUp {
        0% {
            transform: translateY(250px);
        }
        100% {
            transform: translateY(0);
        }
    }