@media only screen and (max-width:1326px) {
    .font-line {
        width: 81px;
        top: 248px;
        left: 455px;
        position: absolute;
    }
    .font-line2 {
        width: 126px;
        top: 248px;
        left: 578px;
        position: absolute;
    }
    .font-line3 {
        width: 149px;
        top: 249px;
        left: 748px;
        position: absolute;
    }
}

@media only screen and (max-width:1310px) {
    .font-line {
        width: 81px;
        top: 248px;
        left: 445px;
        position: absolute;
    }
    .font-line2 {
        width: 126px;
        top: 248px;
        left: 569px;
        position: absolute;
    }
    .font-line3 {
        width: 149px;
        top: 249px;
        left: 737px;
        position: absolute;
    }
}

@media only screen and (max-width:1308px) {
    .font-line {
        width: 81px;
        top: 248px;
        left: 445px;
        position: absolute;
    }
    .font-line2 {
        width: 126px;
        top: 248px;
        left: 569px;
        position: absolute;
    }
    .font-line3 {
        width: 149px;
        top: 249px;
        left: 737px;
        position: absolute;
    }
}

@media only screen and (max-width:1298px) {
    .font-line {
        width: 81px;
        top: 248px;
        left: 442px;
        position: absolute;
    }
    .font-line2 {
        width: 123px;
        top: 248px;
        left: 566px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 733px;
        position: absolute;
    }
}

@media only screen and (max-width:1296px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 441px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 563px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 731px;
        position: absolute;
    }
}

@media only screen and (max-width:1276px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 429px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 554px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 720px;
        position: absolute;
    }
}

@media only screen and (max-width:1260px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 420px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 544px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 714px;
        position: absolute;
    }
}

@media only screen and (max-width:1254px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 418px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 544px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 710px;
        position: absolute;
    }
}

@media only screen and (max-width:1276px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 429px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 554px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 720px;
        position: absolute;
    }
}

@media only screen and (max-width:1260px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 420px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 544px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 714px;
        position: absolute;
    }
}

@media only screen and (max-width:1254px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 418px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 544px;
        position: absolute;
    }
    .font-line3 {
        width: 150px;
        top: 249px;
        left: 710px;
        position: absolute;
    }
}

@media only screen and (max-width:1236px) {
    .font-line {
        width: 79px;
        top: 248px;
        left: 410px;
        position: absolute;
    }
    .font-line2 {
        width: 120px;
        top: 248px;
        left: 534px;
        position: absolute;
    }
    .font-line3 {
        width: 146px;
        top: 249px;
        left: 703px;
        position: absolute;
    }
}

@media only screen and (max-width:1224px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 403px;
        position: absolute;
    }
    .font-line2 {
        width: 120px;
        top: 248px;
        left: 530px;
        position: absolute;
    }
    .font-line3 {
        width: 143px;
        top: 249px;
        left: 700px;
        position: absolute;
    }
}

@media only screen and (max-width:1204px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 393px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 519px;
        position: absolute;
    }
    .font-line3 {
        width: 143px;
        top: 249px;
        left: 688px;
        position: absolute;
    }
}

@media only screen and (max-width:1174px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 380px;
        position: absolute;
    }
    .font-line2 {
        width: 122px;
        top: 248px;
        left: 503px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 671px;
        position: absolute;
    }
}

@media only screen and (max-width:1152px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 367px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 492px;
        position: absolute;
    }
    .font-line3 {
        width: 144px;
        top: 249px;
        left: 662px;
        position: absolute;
    }
}

@media only screen and (max-width:1144px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 362px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 487px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 656px;
        position: absolute;
    }
}

@media only screen and (max-width:1116px) {
    .font-line {
        width: 80px;
        top: 248px;
        left: 348px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 474px;
        position: absolute;
    }
    .font-line3 {
        width: 144px;
        top: 249px;
        left: 641px;
        position: absolute;
    }
}

@media only screen and (max-width:1096px) {
    .font-line {
        width: 78px;
        top: 248px;
        left: 340px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 463px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 632px;
        position: absolute;
    }
}

@media only screen and (max-width:1066px) {
    .font-line {
        width: 78px;
        top: 248px;
        left: 323px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 448px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 616px;
        position: absolute;
    }
}

@media only screen and (max-width:1022px) {
    .font-line {
        width: 78px;
        top: 248px;
        left: 302px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 248px;
        left: 426px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 249px;
        left: 595px;
        position: absolute;
    }
}

@media only screen and (max-width:1080px) {
    .ma_best {
        margin-left: 52px;
    }
    .ma_need {
        margin-left: 41px;
    }
    .ma_checked-box {
        font-size: 11px;
    }
    .ma_box_color {
        font-size: 11px;
    }
    .checkmark {
        height: 18px;
        width: 18px;
    }
    .container .checkmark:after {
        left: 6px;
        top: 3px;
    }
}

@media only screen and (max-width:976px) {
    .ma_checked-box {
        font-size: 12px;
    }
}

@media only screen and (max-width:972px) {
    .font-line {
        width: 78px;
        top: 247px;
        left: 278px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 247px;
        left: 403px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 247px;
        left: 569px;
        position: absolute;
    }
}

@media only screen and (max-width:944px) {
    .font-line {
        width: 78px;
        top: 247px;
        left: 263px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 247px;
        left: 388px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 247px;
        left: 556px;
        position: absolute;
    }
}

@media only screen and (max-width:916px) {
    .ma_best {
        margin-left: 64px;
    }
    .ma_need {
        margin-left: 52px;
    }
}

@media only screen and (max-width:904px) {
    .font-line {
        width: 78px;
        top: 247px;
        left: 245px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 247px;
        left: 367px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 247px;
        left: 538px;
        position: absolute;
    }
}

@media only screen and (max-width:850px) {
    .font-line {
        width: 78px;
        top: 247px;
        left: 213px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 247px;
        left: 341px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 247px;
        left: 510px;
        position: absolute;
    }
}

@media only screen and (max-width:800px) {
    .font-line {
        width: 78px;
        top: 247px;
        left: 191px;
        position: absolute;
    }
    .font-line2 {
        width: 125px;
        top: 247px;
        left: 341px;
        position: absolute;
    }
    .font-line3 {
        width: 148px;
        top: 247px;
        left: 510px;
        position: absolute;
    }
}

@media only screen and (max-width:798px) {
    .ma_need {
        font-size: 22px;
    }
    .ma_best {
        font-size: 15px;
    }
    .ma_salary {
        font-size: 13px;
    }
    .check-mark {
        position: absolute;
        top: 0px;
    }
    .form_font_size {
        font-size: 13px;
    }
    .ma_profession {
        font-size: 13px;
    }
    .ma_button {
        font-size: 15px !important;
    }
}

@media only screen and (max-width:750px) {
    .ma_radio_box2 {
        margin-left: -10px;
    }
    .width_form {
        width: 81%;
        left: 16px;
    }
    .form_font_size {
        font-size: 17px;
    }
    .ma_profession {
        font-size: 17px;
    }
    .ma_salary {
        font-size: 17px;
    }
    .check-mark {
        position: absolute;
        top: 7px;
    }
    .ma_strip {
        width: 52%;
        margin-left: 87px;
    }
    .ma_need {
        margin-left: -49px;
    }
    .ma_best {
        font-size: 17px;
        margin-left: -27px;
    }
}

@media only screen and (max-width:750px) {
    .ma_best {
        font-size: 15px;
        margin-left: -6px;
    }
    .ma_need {
        margin-left: -16px;
    }
    .ma_strip {
        margin-left: 72px;
    }
}

@media only screen and (max-width:512px) {
    .ma_strip {
        margin-left: 9px;
    }
    .form_font_size {
        font-size: 14px;
    }
    .ma_profession {
        font-size: 14px;
    }
    .ma_salary {
        font-size: 14px;
    }
    .width_form {
        width: 97%;
        left: -5px;
    }
    .ma_best {
        font-size: 16px;
        margin-left: -99px;
    }
    .ma_need {
        margin-left: -223px;
    }
}

@media only screen and (max-width:462px) {
    .ma_need {
        margin-left: -177px;
    }
    .ma_best {
        margin-left: -49px;
    }
}

@media only screen and (max-width:416px) {
    .ma_need {
        margin-left: -142px;
    }
    .ma_best {
        margin-left: -15px;
    }
    .check-mark {
        position: absolute;
        top: 1px;
    }
}

@media only screen and (max-width:366px) {
    .ma_need {
        margin-left: -96px;
    }
    .ma_best {
        margin-left: -12px;
        font-size: 14px;
    }
    .ma_radio_box2 {
        margin-left: -16px;
    }
}

@media only screen and (max-width:340px) {
    .ma_need {
        margin-left: -101px;
        font-size: 19px;
    }
    .ma_best {
        margin-left: -7px;
        font-size: 13px;
    }
    .ma_strip {
        margin-left: 8px;
        font-size: 14px;
    }
    .ma_checked-box {
        font-size: 11px;
        width: 100%;
    }
}

@media only screen and (max-width:320px) {
    .ma_button {
        font-size: 13px !important;
    }
    .input_text {
        width: 100%;
        margin-left: -1px;
    }
    .ma_group {
        margin-top: -40px;
    }
    .ma_profession {
        margin-top: -26px;
    }
    .ma_radio_box2 {
        margin-left: -13px;
        margin-top: -18px !important;
    }
    .ma_need {
        margin-left: -84px;
        font-size: 17px;
    }
    .ma_best {
        margin-left: 1px;
        font-size: 12px;
    }
}