    @media only screen and (max-width:1440px) {
        .ma_comp {
            font-size: 15px;
            margin-left: -12px;
        }
        .ma_n1 {
            margin-top: 47% !important;
            margin-left: 109px !important;
        }
        .ma-sold {
            margin-top: 27px !important;
        }
        .ma_price {
            font-size: 16px;
            margin-left: 5px;
        }
        .ma_sent-button {
            margin-left: 0px
        }
        .ma_mar-gin4 {
            margin-left: 55px;
        }
        .ma_party {
            font-size: 16px;
        }
        .ma_description {
            margin-top: 36px;
            margin-left: 72px;
        }
        .ma_image2 {
            margin-left: 61px;
        }
        .ma_sheet {
            margin-left: 65px;
        }
        .ma_ico-n1 {
            margin-top: 41%;
            margin-left: 136px;
        }
        .ma_p_trend {
            margin-top: 50%;
            margin-left: 117px;
        }
        .ma_more {
            margin-top: 48px;
            margin-left: 46px;
        }
        .ma_des_cription {
            margin-top: 39px !important;
        }
        .ma_last {
            margin-top: 56px !important;
        }
        .ma_icon {
            color: white;
            margin-top: 7px;
            margin-left: 16px;
        }
        .ima-ge {
            margin-left: 73px;
        }
        .ma_form {
            width: 129% !important;
            margin-left: -105px;
        }
        .butto-n {
            margin-left: -105px;
        }
        .ma_icon {
            margin-left: -49px;
        }
        .ma_margin {
            margin-left: 73px;
        }
        .ma_col-or_1 {
            margin-left: 6px;
        }
        .ma_mleft {
            margin-left: 99px;
        }
        .ma_col-or_2 {
            margin-left: 4px;
        }
        .ma_close {
            margin-top: 111px;
        }
        .ma_size {
            margin-left: 22px;
            height: 195px;
            width: 94%;
        }
        .ma_size2 {
            margin-left: 1px;
            height: 195px;
            width: 94%;
        }
        .ma_size_3 {
            margin-left: -22px;
            height: 195px;
            width: 94%;
        }
        .ma_size_8 {
            margin-left: -45px;
            height: 195px;
            width: 94%;
        }
        .ma_col-or {
            margin-left: 26px;
        }
        .ma_col-or_1 {
            margin-left: 5px;
        }
        .ma_col-or_2 {
            margin-left: -18px;
        }
        .ma_col-or_3 {
            margin-left: -42px;
        }
        .ma_all {
            margin-left: 53px;
        }
        .ma_y-e-s {
            margin-left: 87px !important;
        }
        .ma_sellers {
            width: 122px;
        }
        .ma_descrip-tion {
            margin-top: 17px;
        }
        .ma_my {
            margin-left: 7px;
        }
        .ma_che-ck {
            margin-left: 8px;
        }
        .ma_sub {
            margin-left: -2px;
        }
        .ma_name {
            margin-left: 8px;
        }
    }
    
    @media only screen and (max-width:1024px) {
        .ma_mar-gin3 {
            margin-left: 46px;
        }
        .ma_image2 {
            margin-top: 57px;
        }
        .ma_firs_t {
            font-size: 11px;
            margin-top: -10px;
        }
        .ma_para_color {
            font-size: 11px;
        }
        .ma_sent-border {
            font-size: 12px;
            width: 85px;
        }
        .ma_detai-ls {
            height: 14px;
            width: 12px;
            margin-top: 3px;
        }
        .ma_comp {
            font-size: 13px;
            margin-left: -12px;
        }
        .ma_che-ck {
            font-size: 13px;
            width: 93px;
            margin-left: -6px;
        }
        .ma_price {
            font-size: 14px;
        }
        .ma_sent-button {
            margin-left: -3px;
            width: 93px;
            font-size: 13px;
        }
        .ma_rfq {
            font-size: 13px;
        }
        .ma_yes {
            font-size: 13px;
        }
        .ma_sent-7 {
            width: 85px;
            font-size: 11px;
            height: 29px;
        }
        .ma_check-2 {
            margin-left: 54px;
        }
        .ma_port {
            margin-left: -21px;
        }
        .ma_check-2 {
            font-size: 13px;
        }
        .ma_box {
            font-size: 12px;
        }
        .ma_li {
            font-size: 13px;
        }
        .ma_list {
            font-size: 14px;
        }
        .ma_b_utton2 {
            font-size: 15px;
            margin-left: 8px;
            height: 34px;
            margin-top: 6px;
            width: 112px;
            border-radius: 8px;
        }
        .ma_mo-re {
            margin-left: -170px;
            height: 34px;
            font-size: 14px;
        }
        .ma_found {
            font-size: 22px;
        }
        .ma_info {
            font-size: 12px;
        }
        .ma_view {
            margin-top: 85px;
            margin-left: 6px;
            font-size: 13px;
        }
        .ma_f_siz-e {
            font-size: 16px;
        }
        .ma_ico-n1 {
            margin-top: 82%;
        }
        .ma_descrip-tion {
            margin-top: 11px;
            font-size: 12px;
        }
        .ma_margin {
            margin-left: 42px;
        }
        .ma_advance {
            margin-left: -25px;
            font-size: 12px;
        }
        .ma_image7 {
            margin-left: -30px;
        }
        .ma_f_size {
            font-size: 13px;
            padding: 7px;
        }
        .ma_advance_9 {
            width: 115px;
            font-size: 14px;
            margin-left: 3px;
        }
        .ma_all {
            font-size: 14px;
            margin-left: -137px;
            width: 109px;
        }
        .ma_sellers {
            font-size: 14px;
            margin-left: 5px;
            width: 99px;
        }
        .ma_manu {
            font-size: 14px;
            margin-left: 3px;
            width: 117px;
        }
        .ma_head_ing {
            font-size: 17px;
            margin-top: 46px;
            margin-left: 13px;
        }
        .ma_form {
            width: 134% !important;
            margin-left: -96px;
        }
        .ima-ge {
            margin-left: 6px;
        }
        .ma_logo_img {
            margin-top: 15px;
            height: 62px;
            margin-left: 34px;
        }
        .ma_icon {
            margin-left: -37px;
        }
        .butto-n {
            margin-left: -99px;
        }
        .ma_margin {
            margin-left: 32px;
            font-size: 15px;
        }
        .ma_margin-g {
            margin-left: 2px;
        }
        .ma_margin3 {
            margin-left: 17px;
        }
        .ma_margin4 {
            margin-left: 18px;
        }
        .ma_app {
            margin-top: 5px;
        }
        .ma_margin5 {
            margin-left: 21px;
        }
        .ma_margin6 {
            margin-left: 14px;
        }
        .ma_button3 {
            margin-left: 10px;
        }
        .ma_size {
            margin-left: -9px;
            height: 166px;
            width: 104%;
        }
        .ma_size2 {
            margin-left: -4px;
            height: 166px;
            width: 104%;
        }
        .ma_size_3 {
            height: 166px;
            width: 104%;
            margin-left: 0px;
        }
        .ma_size_8 {
            margin-left: 8px;
            height: 166px;
            width: 104%;
        }
        .ma_lvcmos {
            font-size: 17px;
            margin-left: -22px;
        }
        .ma_heding_1 {
            margin-left: -21px;
        }
        .ma_unit {
            margin-left: -21px;
            font-size: 15px;
        }
        .ma_off {
            margin-left: -19px;
        }
        .ma_lvcmos_1 {
            font-size: 17px;
            margin-left: -44px;
        }
        .ma_lvcmos_2 {
            font-size: 16px;
            margin-left: -60px;
        }
        .ma_heding_3 {
            margin-left: -60px;
        }
        .ma_heding_2 {
            color: darkgrey;
            margin-left: -44px;
        }
        .ma_unit_1 {
            margin-left: -44px;
            font-size: 14px;
        }
        .ma_off_1 {
            margin-left: -40px;
        }
        .ma_unit_2 {
            margin-left: -58px;
            font-size: 16px;
        }
        .ma_unit_3 {
            margin-left: -71px;
            font-size: 16px;
        }
        .ma_off_2 {
            margin-left: -55px;
        }
        .ma_off_3 {
            margin-left: -68px;
        }
        .ma_lvcmos_3 {
            font-size: 16px;
            margin-left: -75px;
        }
        .ma_heding_4 {
            margin-left: -73px;
        }
        .ma_col-or_1 {
            margin-left: 42px;
        }
        .ma_col-or_2 {
            margin-left: 64px;
        }
        .ma_col-or_3 {
            margin-left: 80px;
        }
        .ma_col-or {
            margin-left: 11px;
        }
        .ma_sent {
            margin-left: 17px;
            width: 108px;
            height: 34px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .ma_req-uest {
            font-size: 20px;
        }
        .ma_qua {
            font-size: 14px;
        }
        .ma_input1 {
            width: 225px;
            height: 33px;
        }
        .ma_but {
            margin-top: 21px;
            height: 35px;
        }
        .ma_es {
            margin-left: 93px;
        }
        .ma_name {
            width: 251px;
            height: 37px;
            margin-left: 10px;
        }
        .ma_name2 {
            width: 268px;
            height: 38px;
        }
        .ma_close {
            margin-top: 105px;
        }
        .ma_button9 {
            color: white;
            background-color: cadetblue;
            font-size: 17px;
            width: 159px;
            margin-top: 100px;
            margin-left: 123px;
            border-radius: 8px;
        }
        .ma_descrip-tion {
            margin-top: 37px;
        }
        .ma_trend {
            font-size: 14px;
        }
        .ma_ico-n1 {
            margin-top: 90%;
            margin-left: 50px;
        }
        .ma_des_cription {
            margin-top: 29px !important;
        }
        .ma_more {
            margin-top: 80px;
        }
    }
    
    @media only screen and (max-width:768px) {
        .ma_close {
            margin-top: 47px;
            margin-left: -21px;
            margin-bottom: 56px;
        }
        .ma_button9 {
            margin-top: 40px;
            margin-left: 71px;
            width: 151px;
        }
        .ma_mleft {
            margin-left: 99px;
        }
        .ma_tech {
            margin-left: 261px;
            margin-top: 25px;
        }
        .ma_row {
            margin-left: 203px;
        }
        .ma_trend {
            font-size: 14px;
        }
        .ma_para_color {
            font-size: 11px;
        }
        .ma_sent-border {
            font-size: 12px;
            width: 85px;
        }
        .ma_firs_t {
            font-size: 12px;
            margin-top: -10px;
        }
        .ma_comp {
            font-size: 13px;
            margin-left: -12px;
        }
        .ma_che-ck {
            font-size: 13px;
            width: 93px;
        }
        .ma_image2 {
            margin-top: 38px;
        }
        .ma_mar-gin1 {
            margin-left: 17px;
        }
        .ma_price {
            font-size: 14px;
        }
        .ma_sent-button {
            margin-left: -3px;
            width: 93px;
            font-size: 14px;
        }
        .ma_yes {
            font-size: 13px;
        }
        .ma_sent-7 {
            width: 83px;
            height: 32px;
            font-size: 11px;
        }
        .ma_check-2 {
            font-size: 13px;
        }
        .ma_box {
            font-size: 12px;
        }
        .ma_li {
            font-size: 13px;
        }
        .ma_b_utton2 {
            font-size: 15px;
            margin-left: -113px;
            height: 26px;
            margin-top: 6px;
            width: 112px;
            border-radius: 8px;
        }
        .ma_mo-re {
            margin-left: -112px;
            height: 26px;
            font-size: 12px;
        }
        .ma_se-lect {
            margin-top: 3px;
        }
        .ma_found {
            font-size: 20px;
        }
        .ma_book {
            margin-top: 58px;
        }
        .ma-data {
            margin-left: 20px;
        }
        .ma_view {
            margin-top: 39px;
            margin-left: 6px;
            font-size: 12px;
        }
        .ma_sheet {
            margin-left: 42px;
            font-size: 14px;
        }
        .ma_h5 {
            font-size: 15px;
        }
        .ma_description {
            font-size: 12px;
        }
        .ma_advance_9 {
            width: 129px;
        }
        .ma_f_siz-e {
            font-size: 12px;
            padding: 4px;
        }
        .ma_container {
            padding-bottom: 2px !important;
        }
        .butto-n {
            font-size: 13px !important;
            margin-left: -77px;
            margin-top: -5px !important;
            height: 15px;
        }
        .ma_col-or_1 {
            margin-left: 73px;
        }
        .ma_shopping {
            font-size: 24px;
        }
        .ma_best {
            margin-left: 244px;
        }
        .ma_icon {
            margin-left: -26px;
            margin-top: 4px;
        }
        .ima-ge {
            margin-top: 27px;
            height: 28px;
            margin-left: -11px;
        }
        .ma_form {
            margin-left: -80px;
            margin-top: 27px;
            height: 27px !important;
            width: 85% !important;
        }
        .ma_margin3 {
            margin-left: -4px;
            font-size: 13px;
        }
        .ma_app {
            margin-top: 2px;
        }
        .ma_margin4 {
            font-size: 12px;
            margin-left: 17px;
        }
        .ma_margin5 {
            font-size: 12px;
            margin-left: 16px;
        }
        .ma_margin3 {
            margin-left: 8px;
            font-size: 12px;
        }
        .ma_button {
            height: 27px;
            margin-left: 14px;
            font-size: 13px;
            margin-top: 2px;
        }
        .ma_col-or_2 {
            margin-left: 89px;
        }
        .ma_size_3 {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_size_8 {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_col-or_3 {
            margin-left: 103px;
        }
        .ma_button2 {
            height: 27px;
            font-size: 13px;
            margin-left: 5px;
            margin-top: 2px;
        }
        .ma_markating {
            margin-top: 3px;
        }
        .ma_margin6 {
            font-size: 12px;
            margin-left: 14px;
        }
        .ma_button-mod {
            font-size: 10px;
        }
        .ma_size {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_margin {
            margin-left: 23px;
            margin-top: -2px;
            font-size: 12px;
        }
        .ma_margin-g {
            margin-left: -5px;
            margin-top: -2px;
            font-size: 12px;
        }
        .ma_button3 {
            color: white;
            background-color: black;
            margin-left: 12px;
            border-color: cadetblue;
            font-size: 10px;
        }
        .ma_size {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_col-or {
            margin-left: 52px;
        }
        .ma_size2 {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_party {
            font-size: 13px;
        }
        .ma_size2 {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_sellers {
            margin-left: -1px;
            margin-top: 10px;
        }
        .ma_more {
            margin-top: 61px;
        }
        .ma_des_cription {
            margin-top: 36px !important;
        }
        .ma_f-o-rm {
            margin-left: -12px;
        }
        .ma_f_size {
            font-size: 13px;
            padding: 7px;
        }
        .ma_advance {
            margin-left: -2px;
            width: 84px;
            font-size: 11px;
            margin-top: 4px;
        }
        .ma_n1 {
            margin-top: 85% !important;
            margin-left: 50px !important;
        }
        .ma_dption {
            margin-top: 35px;
        }
        .ma-sold {
            margin-top: 57px !important;
        }
        .ma_colo {
            font-size: 16px;
        }
        .ma_table {
            padding: 4px;
        }
        .ma_button-3 {
            font-size: 12px;
            width: 86px;
            height: 29px;
        }
        .ma_july {
            margin-top: 3px;
            font-size: 12px;
        }
        .ma_in {
            margin-top: 1px;
            font-size: 11px;
        }
        .ma_descrip-tion {
            margin-top: 20px;
            font-size: 12px;
        }
        .ma_info {
            font-size: 13px;
        }
        .ma_ico-n1 {
            margin-top: 92%;
            margin-left: 13px;
        }
        .ma_mar-gin3 {
            margin-left: 12px;
        }
        .ma_y-e-s {
            margin-left: 91px;
        }
        .ma_hr_1 {
            width: 984px !important;
        }
        .ma_sent {
            margin-left: -109px;
            width: 108px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .ma_req-uest {
            font-size: 17px;
        }
        .ma_qua {
            font-size: 14px;
        }
        .ma_name {
            width: 240px;
            height: 31px;
        }
        .ma_name2 {
            width: 256px;
            height: 31px;
        }
        .ma_select8 {
            height: 31px;
        }
        .ma_hr_style {
            width: 130%;
        }
        .ma_input1 {
            width: 225px;
            height: 30px;
        }
        .ma_but {
            height: 31px;
            font-size: 13px;
        }
        .ma_es {
            margin-left: 80px;
        }
        .ma_style_hr {
            width: 131%;
        }
        .ma_che-ck {
            margin-left: 12px;
        }
        .ma_p_trend {
            margin-top: 105%;
            margin-left: 13px;
        }
    }
    
    @media only screen and (max-width:425px) {
        .ma_mar-gin4 {
            margin-left: 45px;
        }
        .ma_party {
            margin-left: -37px;
            font-size: 13px;
        }
        .ma_view {
            margin-top: 31px;
            margin-left: 6px;
            font-size: 13px;
        }
        .ma_sheet {
            margin-left: 22px;
            font-size: 14px
        }
        .ma_ico-n1 {
            margin-top: 112%;
            margin-left: 2px;
        }
        .ma_in {
            margin-top: 8px;
            font-size: 12px;
        }
        .ma_descrip-tion {
            margin-top: 34px;
            font-size: 12px;
        }
        .ma_july {
            margin-top: 3px;
            font-size: 12px;
        }
        .ma_h5 {
            font-size: 12px;
        }
        .ma_description {
            font-size: 12px;
        }
        .ma_se-lect {
            margin-top: 29px;
        }
        .ma_hr_1 {
            width: 913px !important;
        }
        .ma_mar-gin3 {
            margin-left: 24px;
        }
        .ma_mar-gin2 {
            margin-left: 64px;
        }
        .ma_firs_t {
            font-size: 11px;
            margin-top: -10px;
        }
        .ma_y-e-s {
            margin-left: 85px;
        }
        .ma_para_color {
            font-size: 11px;
        }
        .ma_sent-border {
            font-size: 12px;
            width: 85px;
        }
        .ma_comp {
            font-size: 13px;
            margin-left: -12px;
        }
        .ma_che-ck {
            font-size: 13px;
            width: 93px;
        }
        .ma_price {
            font-size: 14px;
        }
        .ma_sent-button {
            margin-left: -3px;
            width: 93px;
            font-size: 14px;
        }
        .ma_yes {
            font-size: 13px;
        }
        .ma_sent-7 {
            font-size: 12px;
            width: 90px;
            margin-left: -1px;
            height: 30px;
        }
        .ma_check-2 {
            font-size: 13px;
        }
        .ma_box {
            font-size: 12px;
        }
        .ma_li {
            font-size: 12px;
        }
        .ma_b_utton2 {
            font-size: 15px;
            margin-left: -115px;
            height: 32px;
            margin-top: 6px;
            width: 133px;
            border-radius: 8px;
        }
        .ma_mo-re {
            margin-left: -117px;
            height: 32px;
            font-size: 15px;
        }
        .ma_book {
            margin-top: 85px;
        }
        .ma_info {
            font-size: 13px;
        }
        .ma_in {
            margin-top: 14px;
            font-size: 12px;
        }
        .ma_button-3 {
            font-size: 12px;
            width: 86px;
            height: 29px;
        }
        .ma_markating {
            margin-top: 0px;
            margin-left: -2px;
        }
        .ma_des_cription {
            margin-top: 39px !important;
        }
        .ma_last {
            margin-top: 42px !important;
        }
        .ma_form {
            margin-left: 3px;
            height: 35px !important;
            width: 134% !important;
        }
        .ima-ge {
            margin-left: 125px;
            margin-top: 15px;
            height: 32px;
        }
        .ma_icon {
            margin-left: 81px;
        }
        .ma_logo_img {
            margin-top: 9px;
            height: 34px;
            margin-left: -7px;
        }
        .ma_form {
            margin-left: 17px;
        }
        .ma_margin3 {
            margin-left: 31px;
            font-size: 15px;
        }
        .ma_n1 {
            margin-top: 83% !important;
            margin-left: 50px !important;
        }
        .ma_margin5 {
            margin-left: 34px;
        }
        .ma_margin6 {
            margin-left: 34px;
        }
        .ma_margin4 {
            margin-left: 33px;
        }
        .ma_margin {
            margin-top: -14px;
        }
        .ma_best {
            margin-left: 80px;
        }
        .ma_app {
            margin-top: -7px;
        }
        .ma_margin {
            margin-left: 30px;
        }
        .ma_size {
            height: 238px;
            width: 92%;
            margin-left: 15px;
        }
        .ma_col-or {
            margin-left: 36px;
        }
        .ma_size2 {
            height: 238px;
            width: 92%;
            margin-left: 15px;
        }
        .ma_drop {
            margin-top: 18px;
        }
        .ma_shopping {
            font-size: 23px;
            margin-left: 18%;
        }
        .ma_size_3 {
            height: 238px;
            width: 92%;
            margin-left: 15px;
        }
        .ma_size_8 {
            height: 238px;
            width: 92%;
            margin-left: 15px;
        }
        .ma_col-or_3 {
            margin-left: 88px;
        }
        .ma_col-or_2 {
            margin-left: 75px;
        }
        .ma_col-or_1 {
            margin-left: 58px;
        }
        .butto-n {
            margin-left: 20px;
            font-size: 14px !important;
            margin-top: -2px !important;
        }
        .ma_margin4 {
            margin-left: 33px;
            font-size: 15px;
        }
        .ma_margin5 {
            margin-left: 34px;
            font-size: 15px;
        }
        .ma_margin6 {
            margin-left: 34px;
            font-size: 15px;
        }
        .ma_button3 {
            font-size: 14px;
            margin-top: 12px;
        }
        .ma_button-mod {
            font-size: 14px;
            margin-top: 12px;
            margin-left: 12px;
        }
        .ma_margin-g {
            margin-left: 31px;
            margin-top: -13px;
            font-size: 16px;
        }
        .ma_margin {
            margin-left: 31px;
            margin-top: -4px;
            font-size: 16px;
        }
        .ma_all {
            margin-left: 4px;
            width: 114px;
        }
        .ma_f-o-rm {
            margin-left: 88px;
        }
        .ma_manu {
            margin-top: 6px;
        }
        .ma_advance_9 {
            width: 138px;
        }
        .ma_sellers {
            margin-top: 6px;
            margin-left: 5px;
            width: 115px;
        }
        .ma_advance_9 {
            width: 118px;
            margin-top: 6px;
        }
        .ma_f_size {
            font-size: 13px;
            padding: 7px;
        }
        .ma_f_siz-e {
            font-size: 12px;
            padding: 4px;
        }
        .ma_advance {
            margin-left: -2px;
            width: 84px;
            font-size: 11px;
            margin-top: 4px;
        }
        .ma_table {
            padding: 4px;
        }
        .ma_detai-ls {
            height: 14px;
            width: 12px;
        }
        .ma_rfq {
            font-size: 13px;
        }
        .ma_sent {
            margin-left: -116px;
            width: 132px;
            height: 32px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .ma_es {
            margin-left: 88px;
        }
        .ma_yes-1 {
            margin-left: 76px;
        }
        .ma_che-ck {
            margin-left: 9px;
        }
        .ma_third {
            font-size: 14px;
        }
        .ma_style_hr {
            width: 229%;
        }
        .ma_trend {
            font-size: 14px;
        }
    }
    
    @media only screen and (max-width:375px) {
        .ma_y-e-s {
            margin-left: 82% !important;
        }
        .ma_es {
            margin-left: 88px;
        }
        .ma_sent {
            margin-left: -108px;
            width: 108px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .ma_sent-but-ton {
            margin-top: 30px;
            height: 34px;
            width: 96px;
            font-size: 15px;
        }
        .ma_name {
            width: 244px;
            height: 31px
        }
        .ma_select8 {
            width: 254px;
        }
        .ma_name2 {
            width: 254px;
            height: 31px
        }
        .ma_sub {
            margin-left: 2px !important;
        }
        .ma_grey {
            font-size: 14px;
        }
        .ma_but {
            height: 29px;
        }
        .ma_input1 {
            width: 198px;
            height: 27px;
        }
        .ma_qua {
            font-size: 14px;
        }
        .ma_req-uest {
            font-size: 17px;
        }
        .ma_y-e-s {
            margin-left: 154px;
        }
        .ma_mar-gin4 {
            margin-left: 38px;
        }
        .ma_party {
            font-size: 13px;
        }
        .ma_mar-gin3 {
            margin-left: 23px;
        }
        .ma_mar-gin2 {
            margin-left: 106px;
        }
        .ma_firs_t {
            font-size: 11px;
            margin-top: -10px;
        }
        .ma_rfq {
            font-size: 13px;
        }
        .ma_sent-border {
            font-size: 12px;
            width: 85px;
        }
        .ma_che-ck {
            font-size: 14px;
            width: 93px;
        }
        .ma_price {
            font-size: 14px;
        }
        .ma_comp {
            font-size: 13px;
            margin-left: -12px;
        }
        .ma_sent-button {
            margin-left: -3px;
            width: 93px;
            font-size: 14px;
        }
        .ma_yes {
            font-size: 13px;
        }
        .ma_sent-7 {
            width: 85px;
            font-size: 11px;
            height: 29px;
        }
        .ma_check-2 {
            font-size: 13px;
        }
        .ma_box {
            font-size: 12px;
        }
        .ma_li {
            font-size: 13px;
        }
        .ma_b_utton2 {
            font-size: 14px;
            margin-left: -111px;
            height: 26px;
            margin-top: 6px;
            width: 112px;
            border-radius: 8px;
        }
        .ma_hr_1 {
            width: 906px !important;
        }
        .ma_last {
            margin-top: 38px !important;
        }
        .ma_des_cription {
            margin-top: 34px !important;
        }
        .ma_mo-re {
            margin-left: -112px;
            height: 26px;
            font-size: 12px;
        }
        .ma_view {
            margin-top: 25px;
            margin-left: 3px;
            font-size: 12px;
        }
        .ma_sheet {
            margin-left: 42px;
            font-size: 14px;
        }
        .ma_ico-n1 {
            margin-top: 103%;
            margin-left: 8px;
        }
        .ma_in {
            margin-top: 7px;
            font-size: 12px;
        }
        .ma_h5 {
            font-size: 12px;
        }
        .ma_descrip-tion {
            margin-top: 29px;
            font-size: 12px;
        }
        .ma_july {
            margin-top: 5px;
            font-size: 13px;
        }
        .ma_button-3 {
            font-size: 12px;
            width: 86px;
            height: 29px;
        }
        .ma_description {
            margin-top: 36px;
            margin-left: 23px;
            font-size: 12px;
        }
        .ma_image2 {
            width: 148px;
            margin-left: 3px;
            margin-top: 42px;
            height: 125px;
        }
        .ma_size_3 {
            width: 90%;
            margin-left: 32px;
            height: 337px;
        }
        .ma_margin-g {
            margin-left: 33px;
            margin-top: -13px;
            font-size: 16px;
        }
        .ma_form {
            margin-left: 3px;
            height: 35px !important;
            width: 124% !important;
        }
        .ma_all {
            margin-left: 4px;
            width: 114px;
        }
        .ma_f-o-rm {
            margin-left: 65px;
        }
        .ima-ge {
            margin-left: 96px;
            margin-top: 33px;
            height: 31px;
        }
        .ma_icon {
            margin-left: 47px;
            margin-top: 4px;
        }
        .ma_advance_9 {
            width: 138px;
        }
        .ma_manu {
            margin-top: 6px;
        }
        .ma_sellers {
            margin-top: 6px;
            margin-left: 2px;
            width: 117px;
        }
        .ma_advance_9 {
            margin-top: 6px;
            width: 116px;
        }
        .butto-n {
            margin-left: 6px;
            font-size: 14px !important;
            margin-top: -2px !important;
        }
        .ma_col-or_2 {
            margin-left: 76px;
        }
        .ma_margin3 {
            margin-left: 33px;
            font-size: 15px;
        }
        .ma_col-or_3 {
            margin-left: 85px;
        }
        .ma_margin5 {
            margin-left: 34px;
            font-size: 15px;
        }
        .ma_margin6 {
            margin-left: 34px;
            font-size: 15px;
        }
        .ma_margin4 {
            margin-left: 33px;
            font-size: 15px;
        }
        .ma_col-or {
            margin-left: 38px;
        }
        .ma_margin {
            margin-left: 32px;
            margin-top: -13px;
        }
        .ma_best {
            margin-left: 80px;
        }
        .ma_app {
            margin-top: -6px;
        }
        .ma_size {
            height: 219px;
            width: 93%;
            margin-left: 14px;
        }
        .ma_size2 {
            height: 219px;
            width: 93%;
            margin-left: 17px;
        }
        .ma_col-or_1 {
            margin-left: 61px;
        }
        .ma_drop {
            margin-top: 16px;
        }
        .ma_select {
            width: 77%;
        }
        .ma_n1 {
            margin-top: 80% !important;
            margin-left: 50px !important;
        }
        .ma_sub {
            margin-left: 30px;
        }
        .ma_info {
            font-size: 13px;
        }
        .ma_selec-t {
            font-size: 20px;
        }
        .ma_markating {
            margin-top: 1px;
        }
        .ma_button3 {
            font-size: 14px;
            margin-top: 12px;
        }
        .ma_button-mod {
            font-size: 14px;
            margin-top: 12px;
        }
        .ma_margin {
            margin-left: 34px;
            margin-top: -4px;
            font-size: 16px;
        }
        .ma_size_8 {
            height: 219px;
            width: 93%;
            margin-left: 11px;
        }
        .ma_f_size {
            font-size: 13px;
            padding: 7px;
        }
        .ma_f_siz-e {
            font-size: 12px;
            padding: 4px;
        }
        .ma_advance {
            margin-left: -2px;
            width: 84px;
            font-size: 11px;
            margin-top: 4px;
        }
        .ma_colo {
            font-size: 16px;
        }
        .ma_table {
            padding: 4px;
        }
        .ma_mar-gin1 {
            margin-left: 99px;
        }
        .ma_yes-1 {
            margin-left: 76px;
        }
        .ma_button9 {
            color: white;
            background-color: cadetblue;
            font-size: 17px;
            width: 159px;
            margin-top: 100px;
            margin-left: 190px;
            margin-bottom: 48px;
        }
        .ma_close {
            margin-top: 106px;
        }
        .ma_third {
            font-size: 13px;
        }
        .ma_che-ck {
            margin-left: 2px;
        }
        .ma_style_hr {
            width: 260%;
        }
    }
    
    @media only screen and (max-width:320px) {
        .ma_con-tinue {
            height: 31px;
            width: 118px;
            font-size: 14px;
            margin-left: 316px;
        }
        .ma_sent-button_a {
            margin-left: 6px;
            width: 71px;
        }
        .ma_my {
            font-size: 12px;
        }
        .ma_sent-but-ton {
            margin-left: 449px;
            margin-top: 27px;
            height: 36px;
            width: 84px;
            font-size: 13px;
        }
        .ma_sub {
            margin-left: 0px !important;
        }
        .ma_select8 {
            height: 30px;
            width: 257px;
        }
        .ma_name2 {
            width: 256px;
            height: 31px;
        }
        .ma_name {
            width: 240px;
            height: 31px;
        }
        .ma_grey {
            font-size: 14px;
        }
        .ma_hr_style {
            width: 290%;
        }
        .ma_but {
            width: 90px;
            height: 31px;
            margin-top: 23px;
            color: white;
            background-color: black;
            margin-left: 12px;
            border-color: cadetblue;
        }
        .ma_input1 {
            width: 188px;
            height: 30px;
        }
        .ma_qua {
            font-size: 14px;
        }
        .ma_req-uest {
            font-size: 17px;
        }
        .ma_sent {
            margin-left: -109px;
            width: 108px;
            margin-top: 5px;
            border-radius: 5px;
        }
        .ma_party {
            font-size: 13px;
        }
        .ma_mar-gin2 {
            margin-left: 111px;
        }
        .ma_mar-gin1 {
            margin-left: 98px;
        }
        .ma_se-lect {
            margin-top: 17px;
        }
        .ma_hr_1 {
            width: 907px !important;
        }
        .ma_mar-gin3 {
            margin-left: 41px;
        }
        .ma_list {
            font-size: 13px;
        }
        .ma_firs_t {
            font-size: 11px;
            margin-top: -10px;
        }
        .ma_para_color {
            font-size: 11px;
        }
        .ma_sent-border {
            font-size: 12px;
            width: 85px;
        }
        .ma_b_utton2 {
            font-size: 14px;
            margin-left: -111px;
            height: 26px;
            margin-top: 6px;
            width: 112px;
            border-radius: 8px;
        }
        .ma_n1 {
            margin-top: 80% !important;
            margin-left: 50px !important;
        }
        .ma_hr_styl-e {
            width: 100%;
        }
        .ma_style_hr {
            width: 316%;
        }
        .ma_che-ck {
            margin-left: 3px;
        }
        .ma_yes-1 {
            margin-left: 76px;
        }
        .ma_trend {
            font-size: 14px;
        }
        .ma_third {
            font-size: 15px;
        }
        .ma_button9 {
            color: white;
            background-color: cadetblue;
            font-size: 17px;
            width: 149px;
            margin-top: 58px;
            margin-left: 143px;
            margin-bottom: 34px;
        }
        .ma_close {
            margin-top: 65px;
            margin-left: -22px;
        }
        .ma_sent {
            margin-left: -108px;
        }
        .ma_mleft {
            margin-left: 133px;
        }
        .ma_eccn {
            margin-left: 83px;
        }
        .ma_e9 {
            margin-left: 128px;
        }
        .ma_mo-re {
            margin-left: -112px;
            height: 26px;
            font-size: 12px;
        }
        .ma_suppliers {
            margin-left: 48px;
        }
        .ma_h6 {
            font-size: 14px;
        }
        .ma_found {
            font-size: 14px;
        }
        .ma_comp {
            font-size: 13px;
            margin-left: -12px;
        }
        .ma_che-ck {
            font-size: 14px;
            width: 93px;
        }
        .ma_price {
            font-size: 14px;
        }
        .ma_detai-ls {
            height: 14px;
            width: 11px;
        }
        .ma_sent-button {
            margin-left: -3px;
            width: 93px;
            font-size: 14px;
        }
        .ma_yes {
            font-size: 13px;
        }
        .ma_rfq {
            font-size: 13px;
        }
        .ma_para {
            font-size: 12px;
        }
        .ma_sent-7 {
            width: 83px;
            height: 32px;
            font-size: 11px;
        }
        .ma_check-2 {
            font-size: 13px;
        }
        .ma_box {
            font-size: 12px;
        }
        .ma_li {
            font-size: 13px;
        }
        .ma_sheet {
            margin-left: 22px;
        }
        .ma_view {
            margin-top: 24px;
            margin-left: 6px;
            font-size: 13px;
        }
        .ma_butt-o-n {
            margin-left: 14px;
        }
        .ma_ico-n1 {
            margin-top: 101%;
            margin-left: 8px;
        }
        .ma_info {
            font-size: 13px;
        }
        .ma_in {
            margin-top: 7px;
            font-size: 12px;
        }
        .ma_descrip-tion {
            margin-top: 29px;
            font-size: 12px;
        }
        .ma_july {
            margin-top: 3px;
            font-size: 12px;
        }
        .ma_button-3 {
            font-size: 12px;
            width: 86px;
            height: 29px;
        }
        .ma_h5 {
            font-size: 12px;
        }
        .ma_description {
            font-size: 12px;
        }
        .ma_image2 {
            width: 148px;
            margin-left: 3px;
            margin-top: 52px;
            height: 125px;
        }
        .ma_all {
            width: 114px;
            margin-left: 4px;
        }
        .ma_f-o-rm {
            margin-left: -21px;
        }
        .ma_manu {
            margin-top: 8px;
        }
        .ma_sellers {
            margin-top: 8px;
            width: 118px;
        }
        .ma_advance_9 {
            width: 121px;
            margin-top: 8px;
            margin-left: 0px;
        }
        .ma_advance {
            margin-left: -2px;
            width: 84px;
            font-size: 11px;
            margin-top: 4px;
        }
        .ma_colo {
            font-size: 16px;
        }
        .ma_f_size {
            font-size: 13px;
            padding: 7px;
        }
        .ma_image7 {
            width: 79px;
            height: 60px;
            margin-left: -46px;
        }
        .ma_form {
            width: 80% !important;
            margin-left: 16px;
            height: 35px !important;
        }
        .butto-n {
            font-size: 16px !important;
            margin-top: -4px !important;
        }
        .ma_margin {
            margin-left: 38px;
            margin-top: -4px;
            font-size: 16px;
        }
        .ima-ge {
            margin-left: 97px;
            height: 30px;
            margin-top: 35px;
        }
        .ma_icon {
            margin-left: 43px;
        }
        .ma_table {
            padding: 4px;
        }
        .ma_margin3 {
            margin-left: 33px;
            font-size: 16px;
        }
        .ma_margin5 {
            margin-left: 34px;
        }
        .ma_last {
            margin-top: 41px !important;
        }
        .ma_des_cription {
            margin-top: 30px !important;
        }
        .ma_margin6 {
            margin-left: 34px;
        }
        .ma_margin4 {
            margin-left: 35px;
        }
        .ma_margin-g {
            margin-left: 33px;
            margin-top: -13px;
            font-size: 16px;
        }
        .ma_f_siz-e {
            font-size: 12px;
            padding: 4px;
        }
        .ma_col-or_1 {
            margin-left: 72px;
        }
        .ma_margin {
            margin-left: 32px;
            margin-top: -13px;
        }
        .ma_best {
            margin-left: 80px;
        }
        .ma_col-or_2 {
            margin-left: 81px;
        }
        .ma_size_8 {
            height: 193px;
            margin-left: 20px;
            width: 90%;
        }
        .ma_col-or_3 {
            margin-left: 99px;
        }
        .ma_app {
            margin-top: -3px;
        }
        .ma_drop {
            margin-top: 18px;
        }
        .ma_size {
            width: 90%;
            margin-left: 22px;
        }
        .ma_size2 {
            width: 90%;
            margin-left: 25px;
        }
        .ma_col-or {
            margin-left: 46px;
        }
        .ma_sub {
            margin-left: 28px;
        }
        .ma_select {
            width: 77%;
        }
        .ma_markating {
            margin-top: 5px;
        }
        .ma_button3 {
            font-size: 14px;
            margin-top: 12px;
        }
        .ma_button-mod {
            font-size: 14px;
            margin-top: 12px;
            margin-left: 12px;
        }
        .ma_shopping {
            font-size: 25px;
        }
        .ma_size_3 {
            height: 193px;
            width: 90%;
            margin-left: 21px;
        }
        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }
    }