.wef{
    background-color: #16003B;
    height: 367px;
    width:100%;
}

.dfg{
    
    color:white;
    margin-left: 172px;
    margin-left: 75px;
}

.sd{
    color:white;
}
.nav-link{
    color: white !important; 
}

.rts{
    color:white;
}

.flex2{
    display:flex;
    justify-content: space-around;
}

.hjk{
    margin-left: 600px;
    padding-top: 48px;
    margin-bottom: 36px;
}
.hui{
    font-size: 38px;
    margin-top: 30px;
    margin-left: 50px;
}

.i{
    font-size: 38px !important;

}

.nmd{
    background-color: #FFD9C0
}

.kol{
    background-color: #16003B;
    height: 180px;
    width:100%;
}

.sdf{
    width: 277px;
    height: 164px;
    margin-left: 306px;
}